#container div {
    width: 100%;
    border: black 1px solid;
    margin: 0px auto;
}

#container {
    height: 50vw;
    width: 50vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.options {
    display: flex;
    width: 50vw;
    justify-content: center;
    margin-bottom: 16px;
    gap: 16px;
}